/* Imported fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
}
/* here we add the background image and modify it */
body{
    background-image: url("healthy food.png");
    background-size: 30%;
    background-repeat: repeat;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    padding: 10px;
}
header{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    /* menu bar space between */
    justify-content: space-between;
    font-size: 17px;
    padding: 20px 10px;
    background-color: rgb(238, 255, 212);
    font-family: 'Nunito', sans-serif;
}
.logo img{
    position: relative;
    max-width: 100px;
    height: auto;
}
/* Here we start to style the nav menu */
.navmenu{
    display: flex;
}
.navmenu li{
    padding: 0;
}
.navmenu a{
    padding: 7px 20px;
    margin: 15px;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
    transition: all .42s ease;
}
.navmenu a:hover{
    background-color:#82b682;
    color: white;
    border-radius: 10px;
}
.navmenu .active{
    /* Registrion page is active now */
    background-color:#82b682;
    color: white;
    border-radius: 10px;
}
/* Contact button */
.nav-icon{
    display: flex;
    align-items: center;
}
.nav-icon .btn{
    display: inline-block;
    text-transform: capitalize;
    font-family:'Nunito', sans-serif;
    border: 2px solid rgb(130, 182, 130);
    background-color: rgb(130, 182, 130);
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 15px;
    /* change property values smoothly, over .42s */
    /* ease - specifies a transition effect with a slow start, then fast, then end slowly */
    transition: all .42s ease;
}
.nav-icon .btn:hover{
    /* when the mouse over it will increases the size of an button*/
    transform: scale(1.1);
}
.container{
    /* styling the form section */
    font-family: Poppins, sans-serif !important;
    margin-top: 20px;
    max-width: 700px;
    width: 100%;
    background: rgba(252, 255, 196, 0.575);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0,0,0,0.1);
}
.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
/* To add the line under the registrion word */
.container .title::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: rgb(130, 182, 130);
    border-radius: 3px;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between ;
    margin: 20px 0 12px 0;
}
/* Here we will style the input and the label for the form */
.container form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}
.container form .user-details .input-box .qustions{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.container form .user-details .input-box input{
    height: 35px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
/* Change the color of the border whenever the user press it */
.container form .user-details .input-box input:focus{
    border-color: #82b682;
}
/* For the button (Register) : */
form .button{
    height: 45px;
    width: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: rgb(130, 182, 130);
}
form .button input:hover{
    background: rgb(144, 196, 144);
    color: #ffffff;
}
.input-box-g, .input-box-p ,.input-box-q{
    margin: 6px 0 4px 0;  
}
.input-box-g input , .input-box-p input , .input-box-q input{
    width: 15px;
    height: 15px;
}
.input-box-g label , .input-box-p label ,.input-box-q label{
    margin-right: 10px;
    justify-content: space-between;
}
footer{
    font-size: 17px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(238, 255, 212);
    /* to fix the footer in the bottom when the screen get smaller or bigger */
    position: fixed;
    padding: 17px;
    width: 100%;
    bottom: 0; 
}
